<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<h1>Entrée / Sortie</h1>

<form method="POST">

<input type="text" name="ref"
placeholder="Référence" required>

<input type="number" name="qty"
placeholder="Quantité" required>

<select name="type">
<option value="ENTREE">ENTREE</option>
<option value="SORTIE">SORTIE</option>
</select>

<br>

<button type="submit">Valider</button>

</form>

<a href="/"><button>Retour</button></a>

</div>

</body>
</html>